{{ $img := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
<figure style="padding: 0.25rem; margin: 2rem 0; background-color: #cccc">
    <img style="max-width: 100%; width: auto; height: auto;" src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}">
    <figcaption>
        <small>
            {{ with .Inner }}
            {{ . }}
            {{ end }}
        </small>
    </figcaption>
</figure>
